* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

.wrap {
    min-height: 100%;
}

/* experimenting above */

body {
    /*test*/
    height: 100%;
    /*test*/
    font-family: 'Sriracha', cursive;
    background-image: url("../img/blog-background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#card-arrangement {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

main {
    background-color: rgba(255, 255, 255, 0.6);
}

footer {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
   /*hack*/
  background-color: deepskyblue;
}

i:hover {
    color: gold;
}

.fgroup-1 {
    background-color: blue;
    display: flex;
    flex-direction: column;
}

.fgroup-2 {
    background-color: deepskyblue;
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.fgroup-2 p {
    font-size: 0.5rem;
}

