* {
    box-sizing: border-box;
}

body {
    font-family: 'Sriracha', cursive;
    background-image: url("../img/blog-background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#card-arrangement {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

footer {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
/*hack*/
  background-color: deepskyblue;
}

i:hover {
    color: gold;
}

.fgroup-1 {
    background-color: blue;
    display: flex;
    flex-direction: column;
}

.fgroup-2 {
    background-color: deepskyblue;
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.fgroup-2 p {
    font-size: 0.5rem;
}