<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/9c2c348e64.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Sriracha&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/author">Authors</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/bootcamp">About Bootcamp</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="/author">Author</a>
            </li>
        </ul>
    </div>
</nav>

<main id="card-arrangement">
    <div class="card" style="width: 18rem;">
        <img src="/img/rafael-silva-yA2NU-Z00aY-unsplash.jpg" class="card-img-top" alt="john">
        <div class="card-body">
            <h5 class="card-title">John Doe</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, modi?
            </p>
<!--            <a href="/blog1" class="btn btn-primary">Read more</a>-->
            <a href="#"><i class="fab fa-linkedin"></i></a>
            <a href="#"><i class="fab fa-github-square"></i></a>
            <a href="#"><i class="fab fa-twitter-square"></i></a>
            <a href="#"><i class="fab fa-facebook-square"></i></a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="img/barbora-polednova-dY7Q-sl77L4-unsplash.jpg" class="card-img-top" alt="jane">
        <div class="card-body">
            <h5 class="card-title">Jane Doe</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, modi?</p>
<!--            <a href="/blog2" class="btn btn-primary">Read more</a>-->
            <a href="#"><i class="fab fa-linkedin"></i></a>
            <a href="#"><i class="fab fa-github-square"></i></a>
            <a href="#"><i class="fab fa-twitter-square"></i></a>
            <a href="#"><i class="fab fa-facebook-square"></i></a>
        </div>
    </div>
</main>
<footer>
    <div class="fgroup-1">
    </div>
    <div class="fgroup-2">
        <p>A blog dedicated to lessons learned in the Java bootcamp with 🥟 in Maryland.</p>
        <p>Not an organization, no rights reserved.</p>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>