<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/9c2c348e64.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Sriracha&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/bootcamp">About Bootcamp</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="/author">Author</a>
            </li>
        </ul>
    </div>
</nav>
<main>
    <h1>HTML</h1>
    <p>6 Feb 2020</p>
    <p>HTML stands for hyper text mark-up language.</p>
    <p>HTML "marks-up" the content of a web page.</p>
    <p>Elements vary in the amount of hidden functionality they possess.</p>
    <p>For example, a 'p' tag simply designates a paragraph, but a video tag enables
    the display of film. Geolocation is another feature that easily uses a lot of additional code.</p>
    <p>Emmet is the best system I am aware of for quickly typing out HTML with a formula.</p>
    <p>Pug is the best preprocessor for HTML that I know of, which allows for a template sheet
    to be written, partials extended, with a minimum amount of work left for unique content.</p>
    <h2>HTML example</h2>
    <section>
        <article>
            <ul>
                <li><code><a href=""></a></code></li>
                <li><code>
                    <video src=""></video></code></li>
                <li><code><header></header></code></li>
                <li><code><footer></footer></code></li>
            </ul>
        </article>
    </section>
</main>
<footer>
    <div class="fgroup-1">
        <a href="#"><i class="fab fa-linkedin"></i></a>
        <a href="#"><i class="fab fa-github-square"></i></a>
        <a href="#"><i class="fab fa-twitter-square"></i></a>
        <a href="#"><i class="fab fa-facebook-square"></i></a>
    </div>
    <div class="fgroup-2">
        <p>A blog dedicated to lessons learned in the Java bootcamp with 🥟 in Maryland.</p>
        <p>Not an organization, no rights reserved.</p>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>