<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/9c2c348e64.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Sriracha&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/bootcamp">About Bootcamp</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="/author">Authors</a>
            </li>
        </ul>
    </div>
</nav>
<main>
    <h1>GitHub Collectively</h1>
    <p>3 Feb 2020</p>
    <p>GitHub significantly optimizes group projects.</p>
    <p>One project can be uploaded to the Git Hub site for any number of developers to download.</p>
    <p>The project can remain intact without any unwanted changes, if a selected few are granted
    permission to accept updates.</p>
    <p>If anything is reject, comments can be posted that help the developer adapt to what is desired
    by those in charge.</p>
    <p>If for any reason a certain developer does not like where the project is heading, they can
    fork the source code and make their own project with it.</p>
    <p>All of the above allows for numerous stages to be saved and revisited, so that not merely
    the individual, but a group can secure the best quality software.</p>
    <h2>GitHub Example:</h2>
    <section>
        <article>
            <ul>
                <li>git push -> group leader</li>
                <li>git pull -> following developer</li>
                <li>git push origin master</li>
                <li>If rejected, then receive feedback and adapt.</li>
                <li>git push origin master</li>
            </ul>
        </article>
    </section>
</main>
<footer>
    <div class="fgroup-1">
    </div>
    <div class="fgroup-2">
        <p>A blog dedicated to lessons learned in the Java bootcamp with 🥟 in Maryland.</p>
        <p>Not an organization, no rights reserved.</p>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>