<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/9c2c348e64.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Sriracha&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/bootcamp">Bootcamp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/bootcamp">About Bootcamp</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="/author">Authors</a>
            </li>
        </ul>
    </div>
</nav>
<main>
    <h1>About the Java Bootcamp</h1>
    <p>The Java bootcamp is an eight-week intensive introduction to Java programming, as well as the OOP paradigm,
    front end development, Spring boot framework, and database management. The end goal is knowing how to build a
    website front to back, in order to build an expanding portfolio on GitHub.</p>
    <p>The camp also covers professional development. Students are encouraged weekly to set goals, achieve them,
    and do them within a social network that expands beyond the college campus. By getting students connected,
    the potential for future job placement is greatly increased, because a good percentage of jobs are passed
    along by word of mouth, and those working in companies are often the greatest key to entry.</p>
    <p>Students also fill out paperwork that helps them organize their overall strategy and implement it.
    While some students have never been to a job interview before, or navigated a career before, others receive an
    expanded perspective on how they might need to interact in an interview.</p>
</main>
<footer>
    <div class="fgroup-1">
    </div>
    <div class="fgroup-2">
        <p>A blog dedicated to lessons learned in the Java bootcamp with 🥟 in Maryland.</p>
        <p>Not an organization, no rights reserved.</p>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>